html {
  font-family: 'Lato', sans-serif;
  background-image: url(./images/halloween.jpg);
  background-size: cover;
}

#corner {
  width: 150px;
  background-color: black;
  color: white;
  text-align: center;
  height: 22px;
  visibility: hidden;
}

/* the flying div */
.flying–witch {
    width: 125px;
    height:125px;
    background-image: url('./images/h10.jpg');
    position:fixed;
    border-radius: 15px;
    visibility: hidden;
    z-index: 9999;


}

h1 {
  margin: 50px auto;
  color: black;
  font-size: 45px;
  font-weight: bold;
  width: 40%;
  border: 5px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

h4 {
  color: antiquewhite;
}

#instructions {
  color: black;
  height: 164px;
  width: 250px;
  position: absolute;
  top: 60px;
  right: 30px;
  background-color:rgb(78, 129, 99);
  opacity: 0.8;
  border: 5px solid rgb(42, 68, 53);
  
}


h2 {
  text-align: center;
   overflow: hidden; /*Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect*/
@keyframes typing {
  from { width: 0 }
  to { width: 40% }
} 

/* The typewriter cursor effect */
 @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}  

#main {
  margin: 0 auto;
  position: relative; 
  display: inline–block;
  width: 40%;
}
.show { 
position: absolute;
z-index: 9999;
height: 300px;
width: 300px;
}

.box, .witch {
  width: 125px;
  height: 125px;
  margin: 25px;
}

img {
  border-radius: 15px;
  opacity: 0.9;
  cursor: pointer;
}

.again {
  width: 170px;
  height: 45px;
  background-color: black;
  color: white;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  padding-top: 18px;
  font-size: 24px;
  cursor: pointer;
  visibility: hidden;
  
}

.won {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 30px;
  color: rgb(34, 33, 33);
}

@font-face {
  font-family: digital;
  src: url(digital.ttf);
}

#clock {
  font-size: 50px;
  font-family: digital;
  text-align: center;
  color: wheat;
  /* visibility: hidden; */
  
}