html {
  font-family: 'Lato', sans-serif;
  background-image: url(./images/halloween.jpg);
  background-size: cover;
}

#corner {
  width: 150px;
  background-color: black;
  color: white;
  text-align: center;
  height: 22px;
  visibility: hidden;
}

/* the flying div */
.a {
    width: 100px;
    height:100px;
    background-image: url('./images/h10.jpg');
    position:fixed;
    border-radius: 15px;


}

h1 {
  margin: 50px auto;
  color: black;
  font-size: 45px;
  font-weight: bold;
  width: 40%;
  border: 5px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;

}



h2 {
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 40% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

#main {
  margin: 0 auto;
  display: inline–block;
  width: 40%;
}
.show { 
height: 300px;
width: 300px;
}

.box, .witch {
  width: 125px;
  height: 125px;
  margin: 25px;
}

img {
  border-radius: 15px;
  opacity: 0.9;
  cursor: pointer;
}

.again {
  width: 170px;
  height: 45px;
  background-color: black;
  color: white;
  margin: auto;
  margin-top: 25px;
  text-align: center;
  padding-top: 18px;
  font-size: 24px;
  cursor: pointer;
  visibility: hidden;
  
}

.won {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 30px;
  color: rgb(34, 33, 33);
}